<nav class="navbar navbar-expand-lg bg-warning "style="width: 100%;  z-index: 1000;"> 
    <div class="container-fluid">
      <a class="navbar-brand ms-lg-5 fw-bold fs-2"routerLink="" ><i class="fa-solid fa-square-plus "></i>MediCare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-5" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-5" routerLink="">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-5" routerLink="/user/login">Find a doctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-5" routerLink="">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-lg-4 me-5" routerLink="user/adminlogin">Admin</a>
          </li>
          <button class="btn btn-danger ms-lg-4 me-5 text-dark fw-bold" routerLink="/user/login" >Login/SignUp</button>
        
        </ul>
       
      </div>
    </div>
  </nav>