<app-header></app-header>

<!-- top content -->

<section>
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-4">
            <h1 class="fw-bold">We Help Patients <br> Live in a Healthy, <br>Longer Life.</h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores sint, ea, magnam repellat, nostrum natus sit omnis aut amet consequuntur doloremque. Labore pariatur odit voluptates dicta saepe nostrum! Distinctio, modi!</p>
            <Button class="btn btn-primary"routerLink="/user/login">Request an Appointment</Button>
            <div class="row mt-3">
                <div class="col-3 ms-3"> 
                    <h2 class="fw-bold" style="text-decoration: underline; color: rgb(107, 79, 2);">30+</h2>
                    <p class="fw-bold">Years Of Experience</p>
                </div>
                <div class="col-3 ms-3">
                    <h2 class="fw-bold"style="text-decoration: underline; color: rgb(200, 22, 250);">15+</h2>
                    <p class="fw-bold">Clinic Location</p>
                </div>
                <div class="col-3 ms-3">
                    <h2 class="fw-bold"style="text-decoration: underline; color: rgb(28, 248, 248);">100%</h2>
                    <p class="fw-bold">Payment Satisfaction</p>
                </div>
            </div>

        </div>
        <div class="col-3 me-lg-5">
            <img class="img-fluid" src="https://img.freepik.com/free-photo/beautiful-young-female-doctor-looking-camera-office_1301-7807.jpg?w=2000" alt="" style="border-radius: 10px;">

        </div>
        <div class="col-3">
            <div class="row mt-lg-4">
                <img src="https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg" alt="" >

            </div>
            <div class="row mt-lg-5">
                <img  src="https://img.freepik.com/free-photo/attractive-young-male-nutriologist-lab-coat-smiling-against-white-background_662251-2960.jpg" alt="" >

            </div>

        </div>

    </div>
</div>
</section>

<!-- services -->
<section class="mt-5">
    <div class="container">
        <h2 class="text-center">Providing The Best <br> Medical Services</h2>
        <p class="text-center">World class care for eveyone Our Health system offers <br>unmatched expert health care</p>
        <div class="row mt-5 text-center">
            <div class="col-4">
                <div class="card" style="width: 18rem; ">
                    <img src="https://static.vecteezy.com/system/resources/previews/002/744/903/original/find-the-nearest-doctor-illustration-vector.jpg" class="card-img" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Find a Doctor</h5>
                      <p class="card-text">World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                      <div class="arrow">
                        <a  routerLink="user/login"><i class="fa-solid fa-arrow-right text-dark"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem; ">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVk60vIucvypyQ-u-AqGsfWDlMdCdC3iKJVX54lQjwX5uSdUNaYTqZxFX0mV4c1JdF1u8&usqp=CAU" class="card-img" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Find a Location</h5>
                      <p class="card-text">World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                      <div class="arrow">
                        <a  routerLink="user/contact"><i class="fa-solid fa-arrow-right  text-dark"></i></a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-4 ">
                <div class="card" style="width: 18rem;">
                    <img src="https://thumbs.dreamstime.com/b/chooose-doctor-make-appointment-online-book-visit-chooose-doctor-make-appointment-online-book-visit-using-smartphone-139717970.jpg" class="card-img" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Book an Appointment</h5>
                      <p class="card-text">World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                      <div class="arrow "> 
                        <a routerLink="user/login"><i class="fa-solid fa-arrow-right  text-dark"></i></a>
                     </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<!-- Proud -->
<section>
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-4">
                <img class="img-top" src="https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg" alt="">
            </div>
            <div class="col-3"></div>
            <div class="col-5">
                <h3 class="fw-bold">Proud to be one of the nations best</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium minima perspiciatis culpa adipisci fugit magni earum dolorum molestiae odio itaque quaerat quos et aliquid, tempore velit id suscipit mollitia corrupti.</p>
                <!-- collapse -->

                <div class="collapse" id="collapseExample">
                    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit tempore
                        nobis, iure aperiam amet iste
                        neque vel. Quisquam repellat suscipit magni esse eum, tenetur accusantium ipsam recusandae explicabo
                        dolores iusto.
                    </p>
                </div>
                <button (click)="toggle()" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Learn <span *ngIf="isReadMore">More</span><span *ngIf="!isReadMore">Less</span></button>
            </div>
        </div>
    </div>

</section>
<!-- our medical services -->
<section class="mt-5">
    <div class="container mt-5">
        <h2 class="text-center fw-bold">Our Medical Services</h2>
        <p class="text-center">World class care for eveyone Our Health system offers <br>unmatched expert health care</p>

        <div class="row mt-5">
            <div class="col-4">               
                    <h5 class="fw-bold">Cancer Care</h5>
                    <p>World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                    <div class="arrow1">
                        <a href=""><i class="fa-solid fa-arrow-right text-dark"></i></a>
                    </div>                      
                    
            </div>

            <div class="col-4">
                <h5 class="fw-bold">Labour & Delivery</h5>
                    <p>World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                    <div class="arrow1">
                        <a href=""><i class="fa-solid fa-arrow-right text-dark"></i></a>
                    </div> 
            </div>

            <div class="col-4">
                <h5 class="fw-bold">Heart & Vascular</h5>
                    <p>World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                    <div class="arrow1">
                        <a href=""><i class="fa-solid fa-arrow-right text-dark"></i></a>
                    </div> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <h5 class="fw-bold">Mental Health</h5>
                    <p>World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                    <div class="arrow1">
                        <a href=""><i class="fa-solid fa-arrow-right text-dark"></i></a>
                    </div> 
            </div>
            <div class="col-4">
                <h5 class="fw-bold">Neurology</h5>
                    <p>World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                    <div class="arrow1">
                        <a href=""><i class="fa-solid fa-arrow-right text-dark"></i></a>
                    </div> 
            </div>
            <div class="col-4">
                <h5 class="fw-bold">Burn Treatment</h5>
                    <p>World class care for eveyone Our Health system offers unmatched expert health care from lab to the clinic</p>
                    <div class="arrow1">
                        <a href=""><i class="fa-solid fa-arrow-right text-dark"></i></a>
                    </div> 
            </div>
        </div>
    </div>
</section>

<!-- our testimonials -->
<section>
    <div class="container">
        <div class="row mt-5">
            <h5 class="text-center text-danger fw-bold">TESTIMONIALS</h5>
            <h2 class="text-center text-primary">What patient says about us</h2>
            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum ullam minus pariatur.</p>
            <div class="row-lg-5 mt-5">
                <!-- carosel -->
                <div id="carouselExampleIndicators" class="carousel slide" >
                        
                        <div class="carousel-inner" >
                          <div class="carousel-item active ">
                            <div  class="d-flex" style="gap: 20px;" >
                               <div class="card">
                                <div class="card-title d-flex align-items-center justify-content-between m-3">
                                    <div class="image">                            
                                        <img src="https://media.istockphoto.com/id/1200677760/photo/portrait-of-handsome-smiling-young-man-with-crossed-arms.jpg?s=612x612&w=0&k=20&c=g_ZmKDpK9VEEzWw4vJ6O577ENGLTOcrvYeiLxi8mVuo="  alt="..">
                                    </div>
                                    <div class="title">                            
                                        <h5>ANTHONY</h5>  
                                        <p class="text-danger">Heart Implant</p>                      
                                    </div>
                                    <div class="symbol">
                                        <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                    </div>
                                </div>
                                <hr>
                        
                                <div class="card-body">
                                  <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                </div>
                              </div>
                              <div class="card" >
                                <div class="card-title d-flex justify-content-between m-3">
                                    <div class="image">                            
                                        <img src="https://st4.depositphotos.com/1273864/24401/i/600/depositphotos_244017534-stock-photo-lovely-girl-outdoors-portrait-cute.jpg"  alt="..">
                                    </div>
                                    <div class="title">                            
                                        <h5>MILKA</h5>  
                                        <p class="text-danger">Heart Implant</p>                      
                                    </div>
                                    <div class="symbol">
                                        <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                    </div>
                                </div>
                                <hr>
                        
                                <div class="card-body">
                                  <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                </div>
                              </div>
                              <div class="card" >
                                <div class="card-title d-flex justify-content-between m-3">
                                    <div class="image">                            
                                        <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg"  alt="..">
                                    </div>
                                    <div class="title">                            
                                        <h5>HENTRY</h5>  
                                        <p class="text-danger">Heart Implant</p>                      
                                    </div>
                                    <div class="symbol">
                                        <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                    </div>
                                </div>
                                <hr>
                        
                                <div class="card-body">
                                  <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                </div>
                              </div>
                              </div>
                            </div>
                          <div class="carousel-item">
                            <div  class="d-flex  "style="gap: 20px;" >
                                <div class="card">
                                    <div class="card-title d-flex justify-content-between m-3">
                                        <div class="image">                            
                                            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  alt="..">
                                        </div>
                                        <div class="title">                            
                                            <h5>JOSEPH BUTLER</h5>  
                                            <p class="text-danger">Heart Implant</p>                      
                                        </div>
                                        <div class="symbol">
                                            <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                        </div>
                                    </div>
                                    <hr>
                            
                                    <div class="card-body">
                                      <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-title d-flex justify-content-between m-3">
                                        <div class="image">                            <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fHww&w=1000&q=80"  alt="..">
                                        </div>
                                        <div class="title">                            
                                            <h5>ANN MARIA</h5>  
                                            <p class="text-danger">Heart Implant</p>                      
                                        </div>
                                        <div class="symbol">
                                            <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                        </div>
                                    </div>
                                    <hr>
                            
                                    <div class="card-body">
                                      <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-title d-flex justify-content-between m-3">
                                        <div class="image">                            <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"  alt="..">
                                        </div>
                                        <div class="title">                            
                                            <h5>MAXWELL</h5>  
                                            <p class="text-danger">Heart Implant</p>                      
                                        </div>
                                        <div class="symbol">
                                            <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                        </div>
                                    </div>
                                    <hr>
                            
                                    <div class="card-body">
                                      <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                    </div>
                                  </div>
                            </div>
                           

                          </div>
                          <div class="carousel-item">
                            <div  class="d-flex" style="gap: 20px;">
                                <div class="card">
                                    <div class="card-title d-flex justify-content-between m-3">
                                        <div class="image">                            <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"  alt="..">
                                        </div>
                                        <div class="title">                            
                                            <h5>MAXWELL</h5>  
                                            <p class="text-danger">Heart Implant</p>                      
                                        </div>
                                        <div class="symbol">
                                            <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                        </div>
                                    </div>
                                    <hr>
                            
                                    <div class="card-body">
                                      <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-title d-flex justify-content-between m-3">
                                        <div class="image">                            
                                            <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg"  alt="..">
                                        </div>
                                        <div class="title">                            
                                            <h5>HENTRY</h5>  
                                            <p class="text-danger">Heart Implant</p>                      
                                        </div>
                                        <div class="symbol">
                                            <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                        </div>
                                    </div>
                                    <hr>
                            
                                    <div class="card-body">
                                      <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-title d-flex justify-content-between m-3">
                                        <div class="image">                            
                                            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  alt="..">
                                        </div>
                                        <div class="title">                            
                                            <h5>JOSEPH BUTLER</h5>  
                                            <p class="text-danger">Heart Implant</p>                      
                                        </div>
                                        <div class="symbol">
                                            <i class="fa-solid fa-quote-left fs-2 text-info"></i>
                                        </div>
                                    </div>
                                    <hr>
                            
                                    <div class="card-body">
                                      <p class="card-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem</p>
                                    </div>
                                  </div>
                            </div>


                          </div>
                        </div>  
                        <div class="carousel-outer">
                            <div class="carousel-indicators ">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div> 

                        </div>
                                          
                    
                </div>
            </div>
        </div>
    </div>
</section>



<app-footer></app-footer>

