section{
    background: url("https://www.shutterstock.com/shutterstock/photos/1634303020/display_1500/stock-photo-admin-word-built-with-letter-cubes-on-a-black-table-1634303020.jpg");
    background-size: cover;
    background-position: center;
}